@namespace SkillShareMap.Shared.Components
@implements IDisposable
@inject IJSRuntime JS

<div id="@MapId" style="height: @Height; width: 100%;"></div>

@code {
    private DotNetObjectReference<MapComponent>? _dotNetRef;

    [Parameter]
    public string MapId { get; set; } = "map";

    [Parameter]
    public string Height { get; set; } = "500px";

    [Parameter]
    public double InitialLat { get; set; } = -33.8688;

    [Parameter]
    public double InitialLng { get; set; } = 151.2093;

    [Parameter]
    public int InitialZoom { get; set; } = 13;

    [Parameter]
    public EventCallback<int> OnMarkerClick { get; set; }
    [Parameter] public EventCallback<(int Id, double X, double Y)> OnMarkerClickWithCoords { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("mapHelper.initMap", MapId, InitialLat, InitialLng, InitialZoom, _dotNetRef);
        }
    }

    public async Task AddMarkerAsync(int id, double lat, double lng, string title, string type = "task", string? category = null, bool rare = false, bool aiPick = false)
    {
        await JS.InvokeVoidAsync("mapHelper.addMarker", MapId, id, lat, lng, title, type, category, rare, aiPick);
    }

    public async Task ScanSweepAsync()
    {
        await JS.InvokeVoidAsync("mapHelper.scanSweep", MapId);
    }

    public async Task LightUpMarkerAsync(int id)
    {
        await JS.InvokeVoidAsync("mapHelper.lightUpMarker", MapId, id);
    }

    public async Task ClearMarkersAsync()
    {
        await JS.InvokeVoidAsync("mapHelper.clearMarkers", MapId);
    }

    public async Task FitBoundsAsync()
    {
        await JS.InvokeVoidAsync("mapHelper.fitBounds", MapId);
    }

    public async Task SetViewAsync(double lat, double lng, int zoom = 13)
    {
        await JS.InvokeVoidAsync("mapHelper.setView", MapId, lat, lng, zoom);
    }

    [JSInvokable]
    public async Task HandleMarkerClick(int markerId, double x, double y)
    {
        if (OnMarkerClickWithCoords.HasDelegate)
        {
            await OnMarkerClickWithCoords.InvokeAsync((markerId, x, y));
        }
        else if (OnMarkerClick.HasDelegate)
        {
            await OnMarkerClick.InvokeAsync(markerId);
        }
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }
}
